DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pvs?schema=public"
PORT=3000
FRONTEND_URL="http://localhost:5173"
ADMIN_PASSWORD="qwerty"
VITE_API_URL="http://localhost:3000"
BOOKING_IP_TTL_HOURS=24
